{% extends "base.html" %}
{% block dynamic %}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Admins <span class="badge badge-info badge-counter" id="total-admins-badge"></span></h3></div>
    <div class="row">
        <div class="col-md-12">
                <table id="admin" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
        </div>
    </div>
    
<div class="row">
    <div class="col-lg-6 mb-4">
        
        
    </div>
    <div class="col">
        <div class="row">
            
        </div>
    </div>
</div>
</div>
</div>
{%endblock%}

{% block extra_js %}
<script>
    $(document).ready(function() {
        var stored_response = JSON.parse(localStorage.getItem('response'));
        if (stored_response.superuser){
            var columns = [
                { title: "Name"},
                { title: "Username" },
                { title: "Added On" },
                { title: "Status" },
                { title: "Organization Name" },
                { title: "Assign Device" }
            ]
        }
        else{
            var columns = [
                { title: "Name"},
                { title: "Username" },
                { title: "Added On" },
                { title: "Status" },
                { title: "Organization Name" },
            ]
        }
        var table = $('#admin').DataTable({
            columns: columns,
        });
        $.ajax({
                url: '/api/users/',
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*",
                    "Authorization": "Bearer " + localStorage.getItem("token"),
                },
                success: function(data, status){
                    var datas = [];
                    $('#total-admins-badge').text('Total Admins: ' + data.length);
                    data.forEach(function(dd){
                        temp_data = []
                        temp_data.push(dd.first_name + ' ' + dd.last_name);
                        temp_data.push(dd.username);
                        temp_data.push(dd.date_joined);
                        temp_data.push(dd.is_active);
                        temp_data.push(dd.organization_name);
                        if (stored_response.superuser){
                            temp_data.push(`<button type="button" class="btn btn-dark" onclick="assignDevice('${dd.topic}', ${dd.id}, '${dd.subject_name}');">Assign Device</button>`)
                        }
                        datas.push(temp_data);
                    });
                    table.rows.add(datas).draw();
                },
                error: function(data, status, error){
                    alert(error);
                }
            })
    });

    function assignDevice(topic, id) {
        var device_name = window.prompt("Device name given to : ");
        if (device_name == ''){
            alert("You have to give a name to device");
        }
        else{
            $.ajax({
                url: '/api/device/',
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*",
                    "Authorization": "Bearer " + localStorage.getItem("token"),
                },
                data: JSON.stringify({
                    "topic": topic,
                    "message": "Device assigned",
                    "name": device_name,
                    "belongs_to": id,
                    "status": false
                }),
                success: function(data, status){
                    alert(status);
                },
                error: function(data, status, error){
                    alert(error);
                }
            })
        }
    }
    
</script>
{%endblock%}