{% extends "base_v1.html" %}
{% load static%}

{% block dynamic %}
<div class="container-fluid">
    <h3 class="text-dark mb-4"></h3>
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="" width="160"
                        id="image-user" height="160">
                    <div class="mb-3">
                        <button class="btn btn-primary btn-sm" type="button" onclick="loadFile();">Change
                            Photo</button>
                        <input type="file" id="profile" accept="image/*" onchange="displayFile(event)"
                            style="display: None;">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-8">
            <div class="row mb-3 d-none">
                <div class="col">
                    <div class="card text-white bg-primary shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                since last month</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-success shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                since last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">User Settings</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label
                                                for="username"><strong>Username</strong></label><input
                                                class="form-control" type="text" placeholder="user.name" name="username"
                                                id="username1"></div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="email"><strong>Email
                                                    Address</strong></label><input class="form-control" type="email"
                                                placeholder="user@example.com" name="email" id="email"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="first_name"><strong>First
                                                    Name</strong></label><input class="form-control" type="text"
                                                placeholder="John" name="first_name" id="fname"></div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="last_name"><strong>Last
                                                    Name</strong></label><input class="form-control" type="text"
                                                placeholder="Doe" name="last_name" id="lname"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm" type="submit" id="profile-submit">Save
                                        Settings</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{%endblock%}

{% block extra_js %}
<script>
    var stored_response = JSON.parse(localStorage.getItem('response'));
    var headers = {
        "Content-Type": "application/json",
        "Access-Control-Allow-Origin": "*",
        "Authorization": "Bearer " + localStorage.getItem("token"),
    };
    $.ajax({
        url: '/api/users/' + stored_response.id + '/',
        method: 'GET',
        headers: headers,
        success: function (data, status) {
            document.getElementById("username1").value = data.username;
            document.getElementById("email").value = data.email;
            document.getElementById("fname").value = data.first_name;
            document.getElementById("lname").value = data.last_name;

            if (data.profile_photo == null) {
                document.getElementById("image-user").setAttribute("src", "/static/img/avatars/default-profile-pic.png");
            }
            else {
                document.getElementById("image-user").setAttribute("src", data.profile_photo);
            }
        },
        error: function (data, status, error) {
            alert(error);
        }
    });

    // Function to load the file in output div
    function loadFile() {
        document.getElementById("profile").click();

    }

    // Function to change the profile picture
    var displayFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('image-user');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);

        var data = new FormData();
        data.append("profile_pic", event.target.files[0]);

        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
                alert("Successfully changed the profile pic");
            }
        });

        xhr.open("PATCH", '/api/users/' + stored_response.id + '/');
        xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem("token"));
        xhr.setRequestHeader("cache-control", "no-cache");

        xhr.send(data);
    };

    // Function to save the updated information
    document.getElementById("profile-submit").onclick = function (event) {
        event.preventDefault();
        var headers = {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Authorization": "Bearer " + localStorage.getItem("token"),
        };
        var username = document.getElementById("username1").value;
        var email = document.getElementById("email").value;
        var fname = document.getElementById("fname").value;
        var lname = document.getElementById("lname").value;
        $.ajax({
            url: '/api/users/' + stored_response.id + '/',
            method: 'PATCH',
            headers: headers,
            data: JSON.stringify({
                "username": username,
                "email": email,
                "first_name": fname,
                "last_name": lname
            }),
            success: function (data, status) {
                alert("Successfully updated")
            },
            error: function (data, status, error) {
                alert(error);
            }
        });
    }
</script>
{%endblock%}