{% extends "base_v1.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/fullcalendar-scheduler/main.css' %}">
{%endblock%}


{% block dynamic %}

<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0"><span class="badge badge-info badge-counter"></span></h3>
    <!-- <a class="btn btn-primary btn-sm d-none d-sm-inline-block">
        <i class="fas fa-download fa-sm text-white-50"></i>
    </a> -->
</div>
<div class="row">
    <div class="col-md-12 mb-4">
        <h3 class="text-dark mb-0">Videos<span class="badge badge-info badge-counter" id="total-videos"></span></h3>
        <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" data-toggle="modal"
            data-target="#myModal">
            <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Upload Video
        </a>
    </div>
    <div class="col-lg-3 mb-4 scrollbar square scrollbar-lady-lips thin" id="external-events"
        data-event='{"id": {{video.id}}, "uuid": {{video.uuid}}"}'>
        <div class="card panels-card">
            <div class="rounded-top grey lighten-2 dark-grey-text">
            </div>
            <!--Navbar-->
            <!-- <nav
                class="navbar navbar-expand-lg navbar-dark grey lighten-5 d-flex justify-content-between z-depth-1-bottom">
                <div>
                    <ul class="list-inline my-2 py-1 dark-grey-text">
                        <li class="list-inline-item">
                            <i class="fas fa-bars" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item font-weight-bold text-uppercase">
                        </li>
                    </ul>
                </div>
            </nav> -->
            <!--/.Navbar-->

            <div class="card-body grey lighten-5 rounded-bottom">
                <!-- Grid row -->
                <div class="row" style="overflow-y: scroll;height: 150 px;">
                    <!-- Grid column -->
                    <div id="video-list">

                    </div>

                </div>
            </div>
        </div>
        <p>
            <input type='checkbox' id='drop-remove' />
            <label for='drop-remove'>remove after drop</label>
        </p>
    </div>
    <div class="col-lg-9 mb-4">
        <input type="hidden" id="username">
        <input class="form-control form-control-lg" type="text" id="playlist" placeholder="Playlist Name"
            name="playlist_name">
        <select class="browser-default custom-select custom-select-lg mb-3" id="device" required="true">
            <option value="" disabled="disabled">Select device to assign the playlist</option>
            <!-- {% for d in devices %}
                    <option value="{{d.uuid}}">{{d.device_name}}</option>
                {% endfor %} -->
        </select>
        <div id='calendar-container'>
            <div id='calendar'>

            </div>
        </div>


    </div>
</div>

<div class="row">
    <div class="col-lg-6 mb-4">
        <!--Modal: Name-->
        <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">

                <!--Content-->
                <div class="modal-content">
                    <!--Body-->
                    <div class="modal-body mb-0 p-0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Name-->

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" method="post">
                    <form id="file-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="file1">Upload Video</label>
                            <input type="file" id="file1" class="form-control-file" id="video" name="video">
                        </div>
                        <div class="form-group">
                            <label for="file2">Upload Thumbnail. <h3>Upload an image file</h3></label>
                            <input type="file" id="file2" class="form-control-file" id="thumbnail" name="thumbnail">
                        </div>
                        <button class="btn btn-primary btn-block text-white btn-user" id="submit" type="submit">Upload
                            Video</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="col">
    <div class="row">

    </div>
</div>
</div>
</div>
{%endblock%}

{% block extra_js %}
<script src="{% static '/fullcalendar-scheduler/main.js' %}"></script>
<script>
    var response = JSON.parse(localStorage.getItem("response"));
    document.getElementById('username').value = response.user;
    $(document).ready(function () {
        document.getElementById('file-form').action = '/violin/' + response.user + '/';
        $.ajax({
            url: '/api/video/',
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "Access-Control-Allow-Origin": "*",
                "Authorization": "Bearer " + localStorage.getItem("token"),
            },
            success: function (data, status) {
                const container = document.getElementById('video-list');
                data.forEach((d, idx) => {
                    // Construct card content                        
                    const content = `<div class="col-lg-4 col-md-12 mb-4">
                                        <div class="card orange lighten-2 fc-event draggable">
                                            <div class="view overlay">
                                                <img class="card-img-top" src="${d.thumbnail}" alt="video">
                                                </div>
                                            <div class="card-body pb-0">
                                                <div class="d-flex justify-content-between">
                                                    <h6 class="font-weight-bold mb-1">${d.id}</h6>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        `;

                    // Append newyly created card element to the container
                    container.innerHTML += content;
                    // document.getElementById('total-videos').textContent = 'Total Videos: ' + data.length;
                });
                $.ajax({
                    url: '/api/device/',
                    method: 'GET',
                    headers: {
                        "Content-Type": "application/json",
                        "Access-Control-Allow-Origin": "*",
                        "Authorization": "Bearer " + localStorage.getItem("token"),
                    },
                    success: function (data, status) {
                        const container = document.getElementById('device');
                        data.forEach((d, idx) => {
                            const content = `<option value="${d.uuid}">${d.device_name}</option>`;
                            container.innerHTML += content;
                        });
                        location.reload;
                    },
                    error: function (data, status, error) {
                        alert(error);
                    }
                });
            },
            error: function (data, status, error) {
                alert(error);
            }
        })

    });
</script>
<!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> -->
<script src="{% static '/react/video.js' %}"></script>
<!-- <script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script> -->

{%endblock%}