{% extends "base_v1.html" %}
{% block dynamic %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">
        <span class="badge badge-info badge-counter"></span>
        <!-- <span class="badge badge-info badge-counter" id="total-assigned-badge">Assigned Devices: {{videos_assigned_devices}}</span> -->
    </h3>
    <!-- {% if superuser %}
            <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" data-toggle="modal" data-target="#assignDeviceModal">
                <i class="fas fa-download fa-sm text-white-50">

                </i>
                &nbsp;Assign Device
            </a>
        {% endif %} -->
</div>
<div class="row">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Videos
            <span class="badge badge-info badge-counter" id="total-devices-badge"></span>
            <!-- <span class="badge badge-info badge-counter" id="total-assigned-badge">Assigned Devices: {{videos_assigned_devices}}</span> -->
        </h3>
        <!-- {% if superuser %}
                        <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" data-toggle="modal" data-target="#assignDeviceModal">
                            <i class="fas fa-download fa-sm text-white-50">
            
                            </i>
                            &nbsp;Assign Device
                        </a>
                    {% endif %} -->
    </div>
    <div class="col-md-12">
        <div class="row" id="video-list">

        </div>
        <!-- Container -->

    </div>
    <div class="modal fade" id="assignDeviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Modal Info</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">


                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Assign</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mb-4">


    </div>
    <div class="col">
        <div class="row">

        </div>
    </div>
</div>
{%endblock%}

{% block extra_js %}
<script>
    $(document).ready(function () {
        var stored_response = JSON.parse(localStorage.getItem('response'));
        var headers = {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Authorization": "Bearer " + localStorage.getItem("token"),
        };
        $.ajax({
            url: '/api/video/',
            method: 'GET',
            headers: headers,
            success: function (data, status) {
                var container = document.getElementById('video-list');
                data.forEach(function (d) {
                    element = `<div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-left-primary py-2">
                                    <img class="card-img-top" src="${d.thumbnail}" style="height:100px;" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span></span>
                                                </div>
                                                <div class="text-dark font-weight-bold h5 mb-0"><span id="total_admins">
                                                    <button type="button" class="btn btn-dark" onclick="delete_video('${d.uuid}');">Delete</button>
                                                </span></div>
                                            </div>
                                            <div class="col-auto"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
                    container.innerHTML += element;
                });
            },
            error: function (data, status, error) {
                alert(error);
            }
        });
    });

    // Function to subscribe and unsubscribe the device from the admin
    function delete_video(video_uuid) {
        var headers = {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PATCH, PUT, DELETE",
            "Authorization": "Bearer " + localStorage.getItem("token"),
        };
        url = `/api/video/${video_uuid}/`;
        var request = new XMLHttpRequest();
        request.open('DELETE', url, false);
        request.setRequestHeader("Content-type", "application/json");
        request.setRequestHeader("Authorization", "Bearer " + localStorage.getItem("token"));
        request.setRequestHeader("Access-Control-Allow-Origin", "*");
        request.send();
        alert('Successfully deleted the video from the system.');
        location.reload();
    }
</script>
{%endblock%}