asgiref
channels_redis
channels==2.1.3
Django==2.1.7
django-cors-headers==2.5.2
django-filter==2.1.0
django-redis==4.10.0
django-storages==1.7.1
djangorestframework==3.9.2
mysqlclient==1.4.2.post1
PyYAML==3.13
requests==2.21.0
PyJWT==1.7.1
boto3==1.9.125
botocore==1.12.125
django-request-id==1.0.0
django-request-logging==0.7.2
